  <div class=" row form-group">
    <div class="offset-4 col-4  m-2">
            <button type="submit" class="btn btn-success form-control">Save</button>
        </div>
            <div class="col-4 m-2">
                <a asp-action="Index" class="btn btn-info form-control text-light">Back To List</a>
            </div>
            </div>