<div class="row">
    <div class="col-4 bg-success rounded-3 border-3">
        <h2 class="text-light     text-center">Product List</h2>
    </div>
    <div class="col-4 offset-4">
        <a asp-action="Upsert" class="btn btn-dark form-control"><i class="fas fa-plus">&nbsp;Add New Product</i></a>
        </div>
    </div>
    <div class="container rounded border m-2 p-2">
        <table id="tblData" class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Description</th>
                    <th>ISBN</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>

   @section Scripts{
    <script src="~/js/Product.js"></script>
       
   }
   