<div class="row">
    <div class="col-4 bg-success rounded-3 border-3">
        <h2 class="text-light     text-center">All Pending Orders List</h2>
    </div>
</div>
<div class="container rounded border m-2 p-2">
    <table id="tblData" class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Status</th>
                <th>Name</th>
                <th>Email</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/PendingOrders .js"></script>

   }
